{
  "extends": [
    "eslint-config-via-profit"
  ],
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "./webpack/webpack.config.base.js"
      }
    }
  }
}