/node_modules/
/.env
/.env.prod
/log
/misc
/sandbox.js

# jest
/coverage

# webpack temporary dir
/build

# jwt keys
/keys
dump.rdb

/files
/upload.sh
/uploadMultiple.sh
/public
/source
/converted
/sessions