.yarn/*
.env
.knex/knexfile.js
.vscode/*

/sessions
/assets
/build
/converted
/source
/log
/webpack
/scripts/*
!/scripts/postinstall.js

jest.config.js
tsconfig.json
yarn.lock
yarn-error.log
.pnp.js
.prettierrc
.yarnrc.yml
.eslintignore
.eslintrc
CONTRIBUTING.md
/.data
/package.tgz
/package-*.tgz